.vs/
tools/
x64/Release/
argcv/x64/
welcome/x64/
welcome1/x64/
welcome10/x64/
welcome11/x64/
welcome12/x64/
welcome2/x64/
welcome3/x64/
welcome4/x64/
welcome5/x64/
welcome6/x64/
welcome7/x64/
welcome8/x64/
welcome9/x64/
